.fallback-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--lightBlue),
    var(--darkBlue)
  );
}

.fallback-sentence {
  font-size: 24px;

  animation: blink 2s infinite alternate;
}

@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
