footer {
  background-color: var(--darkBlue);
  padding: 32px 16px 8px 16px;
  margin-top: 72px;
}

.asantek-h2 {
  font-weight: bold;
  background: linear-gradient(to right, white, var(--mainBlue));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-family: "Lobster", sans-serif;
  text-align: center;
  margin-bottom: 8px;
  font-size: 32px;
}

footer p {
  color: white;

  text-align: center;
}

footer h3 {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
  margin-top: 32px;
  color: var(--lightBlue);
}

.all-rights-reserved {
  margin-top: 72px;
}

.footer-a {
  color: white;
}
